# VM0 Dev (Build from Source)
# Usage: docker compose -f docker-compose.dev.yml --profile build-only build sandbox && docker compose -f docker-compose.dev.yml up -d --build

include:
  - docker-compose.base.yml

services:
  sandbox:
    image: vm0-sandbox:dev
    pull_policy: build
    build:
      context: ../
      dockerfile: docker/Dockerfile.sandbox
    profiles:
      - build-only

  web:
    extends:
      file: docker-compose.web-base.yml
      service: web-base
    image: vm0-web:dev
    pull_policy: build
    build:
      context: ../
      dockerfile: docker/Dockerfile.web
    environment:
      DOCKER_SANDBOX_IMAGE: vm0-sandbox:dev

  platform:
    extends:
      file: docker-compose.web-base.yml
      service: platform-base
    image: vm0-platform:dev
    pull_policy: build
    build:
      context: ../
      dockerfile: docker/Dockerfile.platform
