[workspace]
resolver = "2"
members = ["vsock-agent"]

[profile.release]
lto = true
strip = true

[profile.release.package.vsock-agent]
opt-level = "z"
codegen-units = 1

[workspace.lints.rust]
warnings = "deny"

[workspace.lints.clippy]
all = "deny"
